### Jupyter Notebook ###
.ipynb_checkpoints/
### image DBs and sets ###
**/39068_29300_26707/*
**/40482/*
save_at_[0-9].h5
save_at_[0-9][0-9].h5
save_at_second_fitting_[0-9].h5
save_at_third_fitting_[0-9][0-9].h5
save_at_third_fitting_[0-9].h5
save_at_fourth_fitting_[0-9].h5
save_at_last_fitting_[0-9].h5
*.pgdump
### parameters ###
database.ini
### Python ###
__pycache__/
